*.class
*~
.project/*
.project
.classpath
target/

#eclipse.gitignore
*.pydevproject
.metadata
.gradle
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Intellij
.idea/
*.iml
*.iws

#log
log.txt
*prenom.txt
*score.txt
*.dll

#On oublie le
